h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Arial";
} 

div {
    margin: 15px;
}

input[type=text] {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#sendrequest {
    background-color: #4CAF50;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:3px;
    color: #fff;
    font-family: "Arial";
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    height:45px;
    width:200px;
    position:relative;
}

#sendrequest:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}